/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace, sans-serif;  
  background-color: rgb(25,25,25);
  /* solves footer background color full width*/
  margin: auto; 
  padding: 0; 
}

/* ------------------------- */

/* header/logo title */

.header {
  padding: 5px;
  text-align: center;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  border-right: 2px solid rgba(255,255,255,.75);
  margin: 0 auto;
}


/* Animation */
.typewriter{
  animation: typewriter 1.0s steps(44) 0.1s normal both,
             cursor 700ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from {width: 0;}
    to {width: 11em;}
  }
  @keyframes cursor {
    from {border-right-color: rgba(255,255,255,.75);}
    to {border-right-color: transparent;}
  }
  

/* ------------------------- */

/* .container div {
  border: 1px #ccc solid;
  padding: 10px;
} */


.player {
  padding: 8px;
  width: 45%;
  background-color:#FFE4E1;
  margin: auto;
  margin-bottom: 5px;
  color: black;
  border-radius: 10px;
}

.delete-player {
  float: right;
  color: #404040;
  cursor: pointer;
  font-size: 5px;
  position: relative;
  top: -3px;
}


/* 
.playerToAns {
  display: block;
  border-right: 3px dashed #fff44f;
  border-bottom: 3px dashed #fff44f; 
  color: #fff;
  padding: 15px;
  width: 50%;
  margin: 0 auto;
} */


.players-box {
  flex: 2;
  text-align: center;
  /* font-size: 30px; */
}

.question-box {
  flex: 3;
  text-align: center;
  margin: 0px 20px;
}



/* ------------------------- */


/* list of players input */

input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: 50%;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 10px;
  transition: width 0.4s ease-in-out;
  outline: none;
}

input[type=text]:focus {
  width: 80%;
  border: 3px solid #8842d5; 
}



/* ------------------------- */

/* footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 10px;
  text-align: center;
}

a:link {
  color: yellow;
}

a:visited {
  color: yellow;
}



/* ------------------------- */

.not-found-page {
  text-align: center;
}

.not-found-page h1 {
  font-size: 40px;
}




@media (min-width:468px) {
  .container {
    display: flex;
  }

  .header {
    font-size: 40px;
  }

  .players-box {
    border-right: 1px solid #A9A9A9; /*#f8f8ff*/
    font-size: 20px;
  }

  .question-box {
    font-size: 40px;
  }

  .delete-player {
    top: -1px;
  }

}  /* end of min-width 768px */

@media (max-width:468px) {

.question-box {
  font-size: 30px;
}

} /* end of max-width */