.burger {
    position: absolute;
    cursor: pointer;
    top: 2%;
    left: 3%;
    z-index: 2;
	border-radius: 3px;
	margin: 0;
}

.burger > div {
    background-color:#FFFFCC;
    width: 30px;
    height: 3px;
    margin: 7px;
    transition: all 0.3s ease;
}

.nav-links {
    background: rgb(53 ,54, 58);
    position: fixed;
    width: 80%;
    height: 100vh;
    z-index: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-150%);
	transition: transform 0.3s ease-in-out; 
	margin-top: 0;
	padding-left: 0;
}

.nav-links li a {
    color: 	#FFFFCC;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav-active {
    transform: translateX(0%)
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
}


@media (min-width:468px) {

    .burger {
        left: 1%;
    }

    .nav-links {
        width: 25%;
    }

}