/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}

body {
  height: calc(100vh - 8em);
  padding: 6em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}


.question {
  font-size: 25px;
}

.fixed-bottom {
  text-align: center;
  font-size: 10px;
}

/* 
  typewriter effect
*/
.header-text {
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  text-align: center;
  font-size: 400%;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  background: -webkit-linear-gradient(#FFA500, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   

}

/* Animation */
.typewriter{
animation: typewriter 1.0s steps(44) 0.1s normal both,
           cursor 700ms steps(44) infinite normal;
}
@keyframes typewriter{
  from {width: 0;}
  to {width: 10em;}
}
@keyframes cursor {
  from {border-right-color: rgba(255,255,255,.75);}
  to {border-right-color: transparent;}
}



/* 
  responsive css code
*/

@media only screen and (max-width: 375px) {
  .header-text {
    font-size: 210%;  
  }

  @keyframes typewriter {
    from {width: 0;}
    to {width: 6em;}
  }


}




/* 
new glow button
*/

.glow-btn {
  width: 420px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .glow-btn {
    width: 200px;
    font-size: 1rem;
  }
}

.glow-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-btn:active {
  color: #000
}

.glow-btn:active:after {
  background: transparent;
}

.glow-btn:hover:before {
  opacity: 1;
}

.glow-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
